---
layout: default
---

<h1><i class="fa fa-tag"></i> {{ page.tag-name }}</h1>
<div class="post">
    <h2 class="feedbox">
        <a href="/feeds/{{ page.tag-name}}.xml">
            <i class="fa fa-rss"></i> Follow the <strong>{{ page.tag-name }}</strong> feed 
        </a>
    </h2>
    <div>
        {% assign date = '' %}
        {% for post in site.posts %}
            {% if post.tags contains page.tag-name %}
                {% assign currentdate = post.date | date: "%Y" %}
                {% if currentdate != date %}
                    <h2 id="y{{currentdate}}">{{ currentdate }}</h2>
                    {% assign date = currentdate %} 
                {% endif %}
                <h3 class="post-item">
                    <span class="post-date"><time>{{ post.date | date: "%b %d" }}</time> &raquo; </span>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
            {% endif %}
        {% endfor %}
</div>